<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="SecurityKey" value="Syed Moshiur Murshed"/>
      <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <connectionStrings>
        <add name="HsiProdOra" connectionString="user id=dot1sama;password=vY5kliFPkynFTY+dcwrNlA==;data source=//oraop01:1521/OP01.dot.state.wi.us"/>
        <add name="HsiAccOra" connectionString="user id=dot1sama;password=vY5kliFPkynFTY+dcwrNlA==;data source=//oraoe01:1521/OE01.dot.state.wi.us"/>
        <add name="HsiDevOra" connectionString="user id=dot1sama;password=vY5kliFPkynFTY+dcwrNlA==;data source=//oraod01:1521/OD01.dot.state.wi.us"/>
        <add name="FiipsProdOra" connectionString="user id=dot1sama;password=OaLd3n6xR0AcWNnRx86/7Q==;data source=//oracleprod-scan:20402/op080srv"/>

        <add name="WiSamDevSql" connectionString="Data Source=mad03h56258\SQLEXPRESS; Database=WiSam; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA=="/>
        <add name="WiSamProdSql" connectionString="Data Source=mad03h56274\SQLEXPRESS; Database=WiSam; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA=="/>
        <add name="WiSamTestSql" connectionString="Data Source=mad03h56274\SQLEXPRESS; Database=WiSam-Test; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA=="/>
    </connectionStrings>
</configuration>
