<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SecurityKey" value="Syed Moshiur Murshed" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<!--
    <add name="HsiProdOra" connectionString="user id=dot1sama;password=H4YLfaQKP8jbJ2d0RhlESw==;data source=//oracleprodnr-scan.enterprise.wistate.us:20402/op068srv"/>
    <add name="HsiAccOra" connectionString="user id=dot1sama;password=vY5kliFPkynFTY+dcwrNlA==;data source=//oraoe01:1521/OE01.dot.state.wi.us"/>
    <add name="HsiDevOra" connectionString="user id=dot1sama;password=vY5kliFPkynFTY+dcwrNlA==;data source=//oraod01:1521/OD01.dot.state.wi.us"/>-->

		<add name="HsiProdOra" connectionString="user id=dot1sama;password=H4YLfaQKP8jbJ2d0RhlESw==;data source=//dot-op68.enterprise.wistate.us:1521/op068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
		<add name="HsiAccOra" connectionString="user id=dot1sama;password=CI6Ag0aRi+U6PQQTeCTmDg==;data source=//dot-oa68.enterprise.wistate.us:1521/oa068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
		<add name="HsiDevOra" connectionString="user id=dot1sama;password=9K1F/1GUfJgvvX5gqCGUfQ==;data source=//dot-od68.enterprise.wistate.us:1521/od068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />

		<!--<add name="FiipsProdOra" connectionString="user id=dot1sama;password=OaLd3n6xR0AcWNnRx86/7Q==;data source=//oracleprod-scan:20402/op080srv"/>-->
		<!--<add name="FiipsProdOra" connectionString="user id=dot1sama;password=OaLd3n6xR0AcWNnRx86/7Q==;data source=//oracleprodnr-scan.enterprise.wistate.us:20402/op080srv"/>-->
		<add name="FiipsProdOra" connectionString="user id=dot1sama;password=OaLd3n6xR0AcWNnRx86/7Q==;data source=//dot-op80.enterprise.wistate.us:1521/op080srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />

		<!--<add name="AashtoWareProjectProdOra" connectionString="user id=dot1sama;password=vY5kliFPkynFTY+dcwrNlA==;data source=//oraop09:1521/OP09.dot.state.wi.us"/>-->
		<!--<add name="AashtoWareProjectProdOra" connectionString="user id=dot1sama;password=JBHndPvxT5Hzo/N6mZx7qQ==;data source=//oracleprodnr-scan.enterprise.wistate.us:20402/op060srv"/>-->
		<!--<add name="AashtoWareProjectProdOra" connectionString="user id=dot1sama;password=JBHndPvxT5Hzo/N6mZx7qQ==;data source=//dot-op60.enterprise.wistate.us:1521/op060srv.us1.ocm.s7070361.oraclecloudatcustomer.com" /> -->

		<add name="AashtoWareProjectProdOra" connectionString="user id=dot1sama;password=bD+lT81CBd4vJaKQhabQxw==;data source=//aashto-prod.c13mi9vhfpel.us-east-2.rds.amazonaws.com/aashto" />

		<!--<add name="AashtoWareProjectProdOra" connectionString="user id=dot1sama;password=OrnLJDmEfszr2RVqUsIJGA==;data source=//dot-od60.enterprise.wistate.us:1521/aashto-prod.c13mi9vhfpel.us-east-2.rds.amazonaws.com" />-->

		<add name="WiSamDevSql" connectionString="Data Source=mad03h60538\sqlexpress; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA==" />
		<add name="WiSamProdSql" connectionString="Data Source=mad03h62339; Database=WiSam; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA==" />
		<add name="WiSamTestSql" connectionString="Data Source=mad03h62339; Database=WiSam-Test; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA==" />

		<add name="StructuresProgressReportAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\mad03h52803\Structures-Progress-Report\progrpt.accdb" />
		<!--<add name="StructuresProgressReportAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\mad03h52803\c-root\structures-progress-report\progrpt.accdb" />-->
		<add name="TimesheetDataFile" connectionString="\\mad00fph\n4public\Bos\struct_devel\StrProgReport\timesheet data importer.xlsm" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>