<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <!-- Oracle databases -->
    <add name="AashtoWareProjectProdOra" connectionString="user id=dot1sama;password=JBHndPvxT5Hzo/N6mZx7qQ==;data source=//dot-op60.enterprise.wistate.us:1521/op060srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="Fiips" connectionString="user id=dot1sama;password=OaLd3n6xR0AcWNnRx86/7Q==;data source=//dot-op80.enterprise.wistate.us:1521/op080srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="HsiProdOra" connectionString="user id=dot1sama;password=H4YLfaQKP8jbJ2d0RhlESw==;data source=//dot-op68.enterprise.wistate.us:1521/op068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="HsiAccOra" connectionString="user id=dot1sama;password=CI6Ag0aRi+U6PQQTeCTmDg==;data source=//dot-oa68.enterprise.wistate.us:1521/oa068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="HsiDevOra" connectionString="user id=dot1sama;password=9K1F/1GUfJgvvX5gqCGUfQ==;data source=//dot-od68.enterprise.wistate.us:1521/od068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <!-- SQL Server databases -->
    <add name="WiSamProdSql" connectionString="Data Source=mad03h56274\SQLEXPRESS; Database=WiSam; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA==" />
    <add name="WiSamTestSql" connectionString="Data Source=mad03h56274\SQLEXPRESS; Database=WiSam-Test; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA==" />
    <add name="WiSamDevSql" connectionString="Data Source=mad03h60538\SQLEXPRESS; Database=WiSam; User Id=dot1sama; Password=vY5kliFPkynFTY+dcwrNlA==" />
  </connectionStrings>
</configuration>