<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="HsiProdOra" connectionString="user id=dot1sama;password=SAMA0411w;data source=//oraop01:1521/OP01.dot.state.wi.us" />
    <add name="HsiAccOra" connectionString="user id=dot1sama;password=SAMA0411w;data source=//oraoe01:1521/OE01.dot.state.wi.us" />
     <add name="HsiDevOra" connectionString="user id=dot1sama;password=SAMA0411w;data source=//oraod01:1521/OD01.dot.state.wi.us" />
    <add name="FiipsProdOra" connectionString="user id=dot1sama;password=SAMA0411w;data source=//oraow01:1521/OW01.dot.state.wi.us" />
    <add name="WiSamDevSql" connectionString="Data Source=mad03h56258\SQLEXPRESS; Database=WiSam; User Id=dot1sama; Password=SAMA0411w" />
    <add name="WiSamProdSql" connectionString="Data Source=mad03h56258\SQLEXPRESS; Database=WiSam; User Id=dot1sama; Password=SAMA0411w" />
    
    <!--
    <add name="WisamProdSql" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\dotjbb\Documents\Visual Studio 2013\Projects\WiSam\WiSam.mdf;Integrated Security=True"/>
    -->
    
    <!--
    <add name="WiSamProdSql" connectionString="Data Source=mad03h56258\SQLEXPRESS;Database=WiSam;Integrated Security=True" />
    -->

    <!--
    <add name="WiSamProdSql" connectionString="Data Source=mad03h56258\SQLEXPRESS; Database=WiSam; User Id=sa; Password=sajoe" />
    -->
  
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
