<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="SecurityKey" value="SECURITY KEY" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EmailAddress" value="DOTDTSDStructuresProgram@dot.wi.gov" />
    <add key="ImpersonationDomain" value="AD" />
    <add key="ImpersonationUser" value="IMPUSERID" />
    <add key="ImpersonationPassword" value="IMPUSERPASSWORD" />
    <add key="ApplicationMode" value="DEV" />
    <add key="EnableBox" value="true" />
    <add key="boxClientId" value="BOXCLIENTID" />
    <add key="boxClientSecret" value="BOXCLIENTSEC" />
    <add key="boxEnterpriseId" value="ENTERPRISEID" />
    <add key="boxPrivateKeyPassword" value="BOXPASSWORD" />
    <add key="boxPublicKeyId" value="BOXPUBID" />
    <add key="certificationRootFolder" value="79859914184" /> <!-- Box -->
    <!--<add key="certificationRootFolder" value="79859914184"/> Development-->
    <!--<add key="certificationRootFolder" value="79860697826"/> Test-->
    <!--<add key="certificationRootFolder" value="79861250759"/> Prod -->
    <add key="certificationDirectory" value="\\mad00fph\n4public\bos\sct\sct20\" />
    <add key="bosCdTemplate" value="\\mad00fph\n4public\bos\sct\boscd\boscd.pdf" />
    <add key="bosCdSignature" value="\\mad00fph\n4public\bos\sct\boscd\bonk-signature.jpg" />
    <add key="tempDirectory" value="c:\temp" />
    <add key="EnableHsis" value="true" />
    <add key="HsisFileDirectory" value="\\dotstrc\04bridge\" />
    <add key="HsisDatabase" value="HsiProdOra" />
    <add key="WisamsDatabase" value="WiSamProdSql" />
    <add key="AashtoWareProjectDatabase" value="AashtoWareProjectProdOra" />
    <add key="WisamsExecutablePath" value="\\mad00fph\n4public\bos\wisam\v3.52\wisam.desktop.exe" />
    <add key="FiipsDatabase" value="Fiips" />
    <!--<add key="BrRPermittingDatabase" value="BrRPermittingAzure" />-->
    <add key="BrRPermittingDatabase" value="BrRPermittingSql" />
    <add key="FiipsQueryToolExecutablePath" value="\\mad00fph\n4public\bos\wisam\fiips-query-tool\fiipsprojectsprogram.exe" />
	  <add key="bosCdPdfFilePath" value="\\mad00fph\n4public\bos\sct\sct20\boscd-v2.1.pdf" />
	  <add key="signatureFilePath" value="\\mad00fph\n4public\bos\sct\sct20\billdreher.jpg" />
	  <add key="tempDir" value="c:\temp\" />
  </appSettings>
  <connectionStrings>
     <!-- Azure SQL -->
    <!-- Azure SQL -->
    <add name="BrRPermittingAzure" connectionString="server=azure-sql-wisdot-test.database.windows.net,1433; Authentication=Active Directory Password; Database=BrRPermitting; User Id=USERID; Password=USERPASSWORD" />
    <!-- Oracle databases -->
    <!--<add name="AashtoWareProjectProdOra" connectionString="user id=USERID;password=USERPASSWORD;data source=//dot-op60.enterprise.wistate.us:1521/op060srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />-->
    <add name="AashtoWareProjectProdOra" connectionString="user id=USERID;password=USERPASSWORD;data source=//aashto-prod.c13mi9vhfpel.us-east-2.rds.amazonaws.com/aashto" />
    <add name="BrRPermittingSql" connectionString="Data Source=mad03h62339; Database=BrRPermitting; User Id=USERID; Password=USERPASSWORD" />
    <add name="Fiips" connectionString="user id=USERID;password=USERPASSWORD;data source=//dot-op80.enterprise.wistate.us:1521/op080srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="WiSamDevSql" connectionString="Data Source=mad03h60538\SQLEXPRESS; Database=WiSam; User Id=USERID; Password=USERPASSWORD" />
    <add name="WiSamProdSql" connectionString="Data Source=mad03h62339; Database=WiSam; User Id=USERID; Password=USERPASSWORD" />
    <!--<add name="WiSamTestSql" connectionString="Data Source=mad03h62339; Database=WiSam; User Id=USERID; Password=USERPASSWORD" />-->
    <add name="WiSamTestSql" connectionString="Data Source=mad03h62339; Database=WiSam-Test; User Id=USERID; Password=USERPASSWORD" />
    <!--<add name="HsiProdOra" connectionString="user id=USERID;password=USERPASSWORD;data source=//oracleprodnr-scan.enterprise.wistate.us:20402/op068srv" />-->
    <add name="HsiProdOra" connectionString="user id=USERID;password=USERPASSWORD;data source=//dot-op68.enterprise.wistate.us:1521/op068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="HsiAccOra" connectionString="user id=USERID;password=USERPASSWORD;data source=//dot-oa68.enterprise.wistate.us:1521/oa068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
    <add name="HsiDevOra" connectionString="user id=USERID;password=USERPASSWORD;data source=//dot-od68.enterprise.wistate.us:1521/od068srv.us1.ocm.s7070361.oraclecloudatcustomer.com" />
   
  
  </connectionStrings>
  <!--
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
